# Ignore everything by default
*

# Whitelist dotfiles we want to track
!.gitignore
!README.md

# Zsh
!.zshenv
!.config/
!.config/zsh/
!.config/zsh/.zshrc

# Starship
!.config/starship/
!.config/starship/starship.toml

# Git
!.config/git/
!.config/git/ignore

# Ghostty
!.config/ghostty/
!.config/ghostty/config.ghostty

# Claude Code
!.claude/
!.claude/settings.json
